@use '../utilities/functions' as *;

$background-colour: hsl(234, 28%, 80%);
$display-colour: hsl(0, 0%, 91%);
$button-colour: hsl(243, 20%, 60%);
$focus-colour: hsl(243, 14%, 26%);
$shadow-colour: hsl(0, 0%, 5%);
$text-colour: hsl(0, 0%, 14%);

$tablet-view: rem(768);
$desktop-view: rem(1024);
