@use '../utilities/variables' as *;
@use '../utilities/functions' as *;

.calculator {
  // background-color: green;
  width: auto;
  min-width: rem(320);
  height: auto;
  padding: rem(20);
  border-radius: rem(25);
  box-shadow: 0 rem(2) rem(5) $shadow-colour;

  input.display {
    width: 100%;
    min-height: rem(64);
    padding: rem(10);
    margin-bottom: rem(20);
    border-radius: rem(15);
    background-color: $display-colour;
    color: $text-colour;
    font-size: rem(22);
    text-align: right;
    box-shadow: inset rem(2) rem(5) rem(10) lighten($shadow-colour, 50%);
  }

  @media screen and (min-width: $tablet-view) {
    min-width: rem(600);
    border-radius: rem(40);
    padding: rem(30);

    input.display {
      min-height: rem(128);
      font-size: rem(48);
      border-radius: rem(25);
    }
  }
}
