@use '../utilities/variables' as *;
@use '../utilities/functions' as *;

.calculator {
  // background-color: green;
  width: auto;
  min-width: rem(320);
  height: auto;
  padding: rem(30);
  border-radius: rem(50);
  box-shadow: 0 rem(2) rem(5) $shadow-colour;
  border: rem(10) ridge $button-colour;

  input.display {
    width: 100%;
    min-height: rem(64);
    padding: rem(10);
    margin-bottom: rem(20);
    border-radius: rem(30);
    color: #373737;
    font-size: rem(48);
    text-align: right;
    border: rem(8) ridge $button-colour;
    box-shadow: inset rem(2) rem(5) rem(10) lighten($shadow-colour, 50%);
  }

  @media screen and (min-width: $tablet-view) {
    min-width: rem(600);

    input.display {
      min-height: 8rem;
    }
  }
}
