@use '../utilities/variables' as *;
@use '../utilities/functions' as *;

:root {
  background-color: $background-colour;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  font-size: rem(16);
}
